body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbd8ec;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 9;
  overflow: hidden;
  background-color: #B4D9EE;
}

li {
  float: left;
}

li a {
  display: block;
  color: #012B45;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;
  margin-left: 60px;
}

img {
  margin-top: 14px;
  margin-left: -1225px;
}
#user {
 margin-left: 1225px;
  margin-top: 3px;
  padding: 5px;
}



#keka {
  margin-left: 140px;
  margin-top: 120px;

}


#login {
  width: 330px;
  height: 350px;
  background-color: white;
  margin-left: 890px;
  margin-top: -390px;
  border-radius: 20px;
  padding: 5px;


}

input[type=text], input[type=password] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #5531E8;
  color: white;
  font-size: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label {
  font-size: 18px;
  font-family: arial;
}

button:hover {
  opacity: 0.7;
}

.container {
  padding: 25px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#qwe {
  margin-bottom: 70px;
  width: 4%;
  height: 4%;
 margin-left: 25px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8ec2e9;
   color: white;
   display: flex;
   
}
#p {
  margin-left: 20px;
  margin-top: 18px;
  color: black;
  opacity: 50%;
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
 }
#p2 {
  margin-left: -85px;
  margin-top: 52px;
  color: black;
  opacity: 50%;
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
}
#p3 {
  margin-left: -172px;
  margin-top: 88px;
  color: black;
  opacity: 50%;
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
}

#p4 {
  margin-left: 790px;
  margin-top: 88px;
  color: #000000;
  opacity: 50%;
  text-decoration: none;
  font-family: verdana;
  font-size: 12px;
}
